<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Homework Editor</title>
  <script src="../../../../api/addHomeTask.js"></script>
</head>
<body>
<h1>Homework Editor</h1>
<form action="/create-home-work" method="post" th:object="${homework}">
  <label for="dueDate">Due Date:</label>
  <input type="date" id="dueDate" name="dueDate" required th:field="*{dueDate}"><br>

  <label for="homeworksDescription">Homework Description:</label>
  <textarea id="homeworksDescription" name="homeworksDescription" required th:field="*{homeworksDescription}"></textarea><br>

  <label for="links">Links:</label>
  <textarea id="links" name="links" th:field="*{links}"></textarea><br>

  <label for="additionalMaterials">Additional Materials:</label>
  <textarea id="additionalMaterials" name="additionalMaterials" th:field="*{additionalMaterials}"></textarea><br>

  <button type="button" onclick="saveHomework()">Save Homework</button>
</form>

</body>
</html>
